Udacity\ Nanodegree\ Projects/dog-project/dogImages.zip

Udacity\ Nanodegree\ Projects/dog-project/dogImages

Udacity\ Nanodegree\ Projects/dog-project/lfw.zip

Udacity\ Nanodegree\ Projects/dog-project/lfw

Udacity\ Nanodegree\ Projects/dog-project/bottleneck_features

Udacity\ Nanodegree\ Projects/dog-project/Udacity-dl.pem

/CIFAR-10\ Kaggle/train

/CIFAR-10\ Kaggle/train.7z

/CIFAR-10\ Kaggle/test

/CIFAR-10\ Kaggle/test.7z



